<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/nav1.ejs') %>


    <div class="text-center" style="margin-top: 100px;">
        <h1>PRANAV AHER. ID:191080005</h1>
        <h1>UTKARSH BESKAR. ID:191080011</h1>
        <h1>PRASHANT BHALA. ID:191080012</h1>
    </div>

</body>
</html>


