<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/nav1.ejs') %>


    <section id="contact" style="margin-top: 5%;">
        <div class="container-lg" >
            <div class="text-center">
                <h2>User Login</h2>
            </div>
            <div class="row justify-content-center my-5" >
                <div class="col-lg-6">
                    <form action="/login" method="POST">
                        <label for="name">Name:</label><br>
                        <input placeholder="Name" type="text" name="name" class="form-control"><br>
                        <label for="email">Email:</label><br>
                        <input placeholder="Email" type="email" name="email" class="form-control"><br>
                        <button class="btn btn-success" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>






